.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}
.truncated-text__truncated {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}
.truncated-text__hidden-tail {
  overflow: hidden;
  width: 0;
  user-select: none;
}