.truncated-text {
  white-space: nowrap;
  overflow: hidden;
  width: inherit;
}
.truncated-text__full {
  position: absolute;
  left: 0;
  opacity: 0;
  pointer-events: none;
}
.truncated-text__truncated {
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}